<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EdfaPgAndroidSDK"
        tools:targetApi="31">

        <!-- Edfa Payment Gateway SDK -->
<!--        <meta-data-->
<!--            android:name="com.edfapaygw.sdk.CLIENT_KEY"-->
<!--            android:value="b5abdab4-5c46-11ed-a7be-8e03e789c25f" />-->
<!--        <meta-data-->
<!--            android:name="com.edfapaygw.sdk.CLIENT_PASS"-->
<!--            android:value="cdb715a1b482b2af375785d70e8005cd" />-->
<!--        <meta-data-->
<!--            android:name="com.edfapaygw.sdk.PAYMENT_URL"-->
<!--            android:value="https://api.edfapay.com/post" />-->

        <activity
            android:name=".ui.EdfaPgMainAcitivty"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:label="Sale"
            android:name=".ui.EdfaPgSaleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="Sale Recurring"
            android:name=".ui.EdfaPgRecurringSaleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="Capture"
            android:name=".ui.EdfaPgCaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="Credit Void"
            android:name=".ui.EdfaPgCreditvoidActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="Get TXN Status"
            android:name=".ui.EdfaPgGetTransStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="Get TXN Details"
            android:name=".ui.EdfaPgGetTransDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="3D Secure"
            android:name=".ui.EdfaPgRedirect3dsActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>